.foods-title {
	text-align: center;
	text-decoration: underline;
	color: #8b542f;
	font-family: blockbecnpro, Arial, Helvetica, ans-serif;
	padding: 25px 0 0;
	font-weight: bold;
}

.food {
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	height: 270px;
}

.food-pic {
	width: 300px;
}

.food-name {
	padding-top: 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
}

.food-price {
	font-size: 20px;
	font-weight: bold;
}

.btn-add {
	padding-bottom: 20px;
}				